$primary-color: #212121;
$secondary-color: #424242;
$paragraph-font: 'Roboto', sans-serif;
$title-font: 'Roboto Mono', monospace;
$complementary-color: #2D4467;

* {
  border: 0;
}

html {
  width: 100%;
  overflow-x: hidden;
}

header.parallax-container {
  height: 100vh;
  background-image: url("../images/bg-parallax.jpeg");
  background-size: cover;
  z-index: 0;
  position: relative;
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $primary-color;
  opacity: 0.95;
}

header::after {
  content: '';
  position: absolute;
  top: -15%;
  right: -20%;
  bottom: 0;
  transform: rotate(15deg);
  width: 80vw;
  height: 145vh;
  background: #fff;
  opacity: 1;
}

.home-wrapper-text {
  box-sizing: border-box;
  height: 100vh;
  padding: 10vh 0 0 10%;
  position: relative;
  z-index: 2;
}

.home-wrapper-text h1 {
  font-size: 4.5rem;
  font-family: $paragraph-font;
  text-align: center;
  font-weight: 100;
  margin-bottom: 10vh;
}

.home-wrapper-text h3 {
  border: 1px solid $primary-color;
  padding: 15px 25px;
  background-color: $primary-color;
  font-size: 1.5rem;
  font-family: $paragraph-font;
  text-align: center;
  font-weight: 300;
  color: #fff;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 40px;
  width: 50%;
  margin: 0 25%;
}



nav [class*="mdi-"],
nav [class^="mdi-"],
nav i,
nav i.material-icons {
  font-size: 5rem;
  color: $primary-color;
}

nav {
  background-color: rgba(255,255,255,0);
  padding: 0 40px;
  box-shadow: 0 0 0 0 rgba(0,0,0,0), 0 0 5px 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0);
  position: relative;
  z-index: 2;
  color: $primary-color;
  width: 60%;
  float: right;
  //0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2)
}

.nav-wrapper {
  position: relative;
  z-index: 2;
  display: inline;
  float: left;
  width: 40%;
  padding-left: 10%;
  padding-top: 7vh;
}

.nav-list {
  padding: 5% 10%;
  margin: 0 0 0 5%;
  float: left;
  position: relative;
  z-index: 2;
}

.nav-list a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 200;
}

.nav-list li {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 2px;
  border-bottom: 1px solid rgba(255,255,255,0.6);
  width: 50%;
  display: inline-block;
}

.nav-list li:hover {
  background-color: #fff;
}

.nav-list li:hover > a {
  color: $primary-color;
}

.features-wrapper {
  height: 200px;
  padding: 0 10px;
}

.feature-item-modal-wrapper {
  width: 100%;
  padding: 30px 15px;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  overflow: hidden;
  height: 200px;
  position: relative;
  border-top: 5px solid $complementary-color;
}

.feature-item-click {
  font-size: 1.6rem;
  color: $primary-color;
  font-weight: 100;
  margin-bottom: 20px;
}

.btn-floating:focus,
.btn-large:focus,
.btn:focus {
  background-color: $complementary-color;
}

.btn-floating {
  background-color: $complementary-color;
  position: absolute;
  bottom: 0;
  left: 33%;
}

.btn-floating:hover {
  background-color: $complementary-color;
}

.feature-bg-item {
  position: absolute;
  left: -20px;
  bottom: -120px;
  background-color: $complementary-color;
  height: 200px;
  width: 200px;
  border-radius: 360px;
}

.item-1 {
  margin-top: 20px;
}

.item-2 {
  margin-top: 20px;
}

.item-3 {
  margin-top: 20px;
}

.item-4 {
  margin-top: 20px;
}

.item-5 {
  margin-top: 20px;
}

.item-6 {
  margin-top: 20px;
}

.footer-image-modal {
  position: absolute;
  width: 100%;
  margin-left: -24px;
  object-fit: cover;
  object-position: center;
}

.footer-image-modal img {
  height: 100%;
}

.container {
  width: 90%;
}

.brand-logo img {
  width: 280px;
}

#parallax-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.wrapper-header-presentation {
  width: 100%;
  box-sizing: border-box;
  padding: 10% 6%;
  background-color: #fff;
  z-index: 100;
  text-align: center;
}

.wrapper-header-presentation h2 {
  margin: 0;
  font-size: 1.5rem;
  font-family: $title-font;
  color: $primary-color;
}

.row .col.presentation-item-wrapper {
  padding: 0 60px;
  box-sizing: border-box;
  text-align: center;
}

.presentation-item-wrapper h4 {
  color: $primary-color;
  font-size: 1.5rem;
  font-weight: 100;
}

.features-icon {
  font-size: 4rem;
  background-color: $primary-color;
  color: #fff;
  padding: 15px;
  border-radius: 260px;
  margin: 0 0 20px;
}

.features-columns {
  height: 80vh;
  background-position: center;
  background-size: cover;
  position: relative;
  // filter: grayscale(1);
}

.features-columns::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $primary-color;
  opacity: 0.9;
}

.features-columns:hover::after {
  background: #000;
  opacity: 0.2;
}

.features-titles {
  position: absolute;
  z-index: 2;
  width: 70%;
  margin: 30vh 10%;
  line-height: 5vh;
  vertical-align: middle;
  font-size: 2rem;
  text-align: center;
  font-weight: 100;
  padding: 10px 20px;
  border-radius: 3px;
  color: #fff;
}

.features-columns:hover > .features-titles {
  font-weight: 500;
}



.first-column {
  background-image: url("../images/column-img-1.jpg");
}
.second-column {
  background-image: url("../images/column-img-2.jpeg");
}
.third-column {
  background-image: url("../images/column-img-3.jpeg");
}

#description-img-col {
  background-size: cover;
  position: relative;
  background-position: center;
  height: 250px;
}

.first-img {
  background-image: url("../images/filosofia-1.jpeg");
}

.second-img {
  background-image: url("../images/filosofia-2.jpeg");
}

.third-img {
  background-image: url("../images/filosofia-3.jpeg");
}

.fourth-img {
  background-image: url("../images/filosofia-4.jpeg");
}


#description-text-col {
  padding: 40px 80px;
  color: $primary-color;
}

.subtitles-text {
  font-family: $title-font;
  font-size: 2rem;
}

#description-text-col p {
  font-family: $paragraph-font;
  font-weight: 100;
  font-size: 1.3rem;
}

.map-wrapper-row {
  text-align: center;
  background-color: $primary-color;
  padding: 50px 80px;
  margin: 100px 0 0;
}

.map-bg-div {
  position: relative;
  height: 80vh;
}

.pin-icon {
  height: 60px;
  position: absolute;
}

.spain-pin {
  top: 33%;
  left: 47%;
}

.germany-pin {
  top: 28%;
  left: 49%;
}

.usa-pin {
  top: 28%;
  left: 20%;
}

.paraguay-pin {
  top: 63%;
  left: 32%;
}

.russia-pin {
  top: 23%;
  left: 74%;
}

.china-pin {
  top: 53%;
  left: 80%;
}

.australia-pin {
  top: 63%;
  left: 85%;
}

.map-image-bg {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 10%;
}

.map-wrapper-row h3 {
  color: #fff;
  font-size: 3rem;
}

.map-wrapper-row p {
  color: #fff;
  font-weight: 100;
  font-size: 1.5rem;
}

.subtitles-hr {
  width: 20%;
  border: 3px solid $primary-color;
}

.card-services-row {
  width: 85%;
  padding: 70px 0 0;
}

.img-service-item {
  background-image: url("../images/filosofia-3.jpeg");
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 400px;
  float: right;
  margin: -150px -20px 30px 30px;
  border-radius: 8px;
}

.service-description-text {
  width: 90%;
  margin: auto;
  padding: 5vh 5vh 0 5vh;
}

.service-description-text h2 {
  font-size: 3rem;
  font-family: $title-font;
  text-align: center;
}

.service-description-text h3 {
  font-size: 2rem;
  text-align: center;
  font-family: $title-font;
  color: $primary-color;
  margin: 60px 0px 0px 0px;
}

.service-description-text p {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 100;
}

.read-more-icon {
  font-size: 1.5rem;
  font-weight: 100;
  transform: rotate(180deg);
  float: right;
  cursor: pointer;
}

.row .col.feature-item-col {
  padding: 0 70px 15px 10px;
  box-sizing: border-box;
}

.service-description-text li {
  font-size: 1.4rem;
  font-weight: 100;
  list-style-type: none;
  display: inline;
  padding: 0px 0px 15px 0px;
}

.text-item-container {
  display: none;
}

.text-item-container p {
  text-align: left;
  font-size: 1.2rem;
}


.service-items-description-text h2 {
  font-size: 3rem;
  font-family: $title-font;
  text-align: center;
}

.filosofia-wrapper h2 {
  font-size: 3rem;
  font-family: $title-font;
  text-align: center;
  margin-top: 100px;
}

.service-items-description-text p {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 100;
  margin: 30px 0;
}

.service-item-container {
  position: relative;
  padding: 0;
  box-sizing: border-box;
}

.know-more-service {
  font-size: 1.1rem;
  color: $complementary-color;
  font-weight: 100;
}

.service-item-container-small {
  padding: 0 40px;
  position: relative;
  min-height: 470px;
  overflow: hidden;
}

.collapsible-body {
  border: 0;
}

.service-item-container h4 {
  font-size: 1.6rem;
  font-family: $paragraph-font;
  font-weight: 400;
  position: relative;
  z-index: 100;
}

.service-item-container p {
  text-align: left;
  z-index: 100;
  position: relative;
}

.footer-service-item-container {
  width: 100%;
  height: 350px;
  background-color: $complementary-color;
  position: absolute;
  bottom: 0;
  margin: 0 0 0 -40px;
  z-index: 0;
}

.footer-service-item-container::after {
  content: '';
  position: absolute;
  top: -48%;
  left: -6%;
  height: 450px;
  width: 90%;
  background: #fff;
  opacity: 1;
  transform: rotate(65deg);
}

.icon-wrapper-item-service {
  background-color: $primary-color;
  position: absolute;
  z-index: 2;
  bottom: 25%;
  left: 20%;
  border-radius: 360px;
  padding: 15px;
  text-align: center;
  box-sizing: border-box;
}

.mobile-clients {
  display: none;
}

.service-icon-item {
  color: #fff;
  font-size: 4rem;
  vertical-align: middle;
  text-align: center;
}

ul:not(.browser-default) > li {}

.clients-row-wrapper {
  text-align: center;
  width: 100%;
  padding: 0;
}

#carousel-wrapper {
  padding: 0 40px 0 60px;
}

#clients-text-wrapper {
  padding: 0 40px 0 20px;
}

.clients-row-wrapper h2 {
  font-size: 3rem;
  font-family: $title-font;
  color: $primary-color;
}

.carousel-logos {
  width: 70%;
  margin: 30px auto;
  padding: 50px 0;
  height: auto;
}

.carousel .carousel-item {
  height: 300px;
  width: 300px;
  left: inherit;
}

.contact-row {
  padding: 0 0 0 8%;
  margin: -150px 0 0;
}

.contact-row h2 {
  font-size: 3rem;
  font-family: $title-font;
  color: $primary-color;
}

.contact-row p {
  font-size: 1.5rem;
  font-weight: 100;
  color: $primary-color;
}

.contact-row .contact-headline {
  font-weight: 500;
  color: $complementary-color;
}

.page-footer {
  background-color: $primary-color;
  padding-top: 10px;
}

.page-footer .footer-copyright {
  background-color: rgba(51,51,51,0.2);
}

.page-footer p {
  font-size: 1rem;
  font-weight: 100;
  margin: 0;
  font-family: $paragraph-font;
}

.page-footer img {
  width: 50px;
  display: inline-block;
}

.clients-text {
  font-size: 1.2rem;
  font-weight: 100;
}

.card-container {
  position: relative;
  flex-wrap: wrap;
  overflow: hidden;
  // background: transparentize(blue,0.5)
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-around;
  align-items: auto;
}

.ecommerce-features {
  margin: 30px 0px;
  padding: 00px 100px;
}

.ecommerce-feature-1 {
  background-image: url("../images/ecommerce-1.jpeg");
}
.ecommerce-feature-2 {
    background-image: url("../images/ecommerce-2.jpeg");
}
.ecommerce-feature-3 {
    background-image: url("../images/ecommerce-3.jpeg");
}
.ecommerce-feature-4 {
    background-image: url("../images/ecommerce-4.jpeg");
}
.ecommerce-feature-5 {
    background-image: url("../images/ecommerce-5.jpeg");
}
.ecommerce-feature-6 {
    background-image: url("../images/ecommerce-6.jpeg");
}

.row .col.feature-item-col {
  position: relative;
  z-index: 3;
  background-size: cover;
  background-position: center;
  height: 250px;
  box-sizing: border-box;
  padding: 50px 40px;
}

.row .col.feature-item-col p {
  font-weight: 100;
}

.row .col.feature-item-col::after {
  position: absolute;
  content: '';
  background: #000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.75;
}

.item-container {
  position: relative;
  z-index: 4;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
}

.item-container li {
  font-size: 1.8rem;
  font-weight: 400;
  list-style-type: none;
}

.flowchart-container {
    width: 100%;
  }

  .step-flowchart-container {
    position: relative;
    height: 45vh;
    background-color: black;
    background-size: cover;
    background-position: center;
  }

  .step-flowchart-container::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom,rgb(65,67,69), rgb(35,37,38));
    opacity: 0.85;
  }

  .flow-chart-text {
    position: relative;
    z-index: 20;
    color: #fff;
    font-size: 2.2rem;
    line-height: 2.2rem;
    text-align: center;
    font-weight: 100;
    box-sizing: border-box;
    margin-top: 10vh;

  }

  .flow-1 {
    background-image: url("../images/traditional-1.jpg");
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .flow-2 {
    background-image: url("../images/traditional-2.jpg");
  }
  .flow-3 {
    background-image: url("../images/traditional-3.jpeg");
  }
  .flow-4 {
    background-image: url("../images/traditional-5.jpg");
  }
  .flow-5 {
    background-image: url("../images/traditional-4.jpg");
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .flow-chart-text p {
    margin-top: 20px;
  }

  .icon-container {
    background-color: #fff;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    border-radius: 360px;
    text-align: center;
    margin-left: calc(50% - 30px)
  }

  .icon-container i {
    color: rgb(65,67,69);
    line-height: 60px;
    font-size: 3rem;
  }

  .tablet-helper {
    display: none;
  }

  .item-container-feature li {
    display: inline-block;
    font-size: 1.3rem;
    line-height: 1.7rem;
    font-weight: 400;
    text-transform: uppercase;
  }

  .item-container-feature i {
    font-size: 1.8rem;
    line-height: 1.7rem;
    font-weight: 100;
    float: right;
    color: $primary-color;
    cursor: pointer;
  }

  .item-container-feature div {
    padding-bottom: 15px;
    border-bottom: 1px dotted rgba(33,33,33,0.5);
  }

  .item-container-description {
    font-size: 1.2rem;
    font-weight: 100;
    // display: none;
  }

  .e-commerce-platform {
    position: relative;
    background-image: url("../images/amazon-shop.png");
    background-size: cover;
    height: 70vh;
    border-radius: 2px;
    // border-bottom-right-radius: 200px;
  }

  .manomano-card {
    background-image: url("../images/manomano-shop.png");
  }

  .hover-bg {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background-color: #212121;
    opacity: 0.9;
    // border-bottom-right-radius: 200px;
  }

  .e-commerce-platform img {
    position: relative;
    z-index: 10;
    width: 50%;
    box-sizing: border-box;
    margin: 23% 0 0 -10%;
    transform: rotate(270deg);
  }

  .e-commerce-platform p {
    position: relative;
    z-index: 3;
    color: #fff;
    font-weight: 100;
    font-size: 1.1rem;
    width: 60%;
    margin-left: 30%;
    margin-top: -30%;
    text-align: left;
  }


@media (max-width: 1024px) and (min-width: 781px) {
  html {
    font-size: 14px;
  }

  .home-wrapper-text h3 {
    width: 70%;
    margin: 0 15%;
  }

  .photos-filosofia {
    display: none;
  }
  #description-text-col {
    width: 100%;
    padding-top: 0;
  }

  .brand-logo-nav {
    width: 200px;
  }

  #description-text-col p {
    font-size: 1.8rem;
  }

  .page-footer p {
    font-size: 1.5rem;
  }

  .wrapper-header-presentation {
    margin-bottom: 30px;
  }

  .card-services-row {
    padding-top: 20px;
  }

  .service-item-container {
    margin-bottom: 30px;
  }

  .map-wrapper-row {
    margin-top: 0;
  }

  .img-service-item {
    margin-top: -80px;
  }

  .service-description-text h2 {
    font-size: 2.8rem;
  }

  .clients-text {
    font-size: 1.8rem;
  }

  .map-bg-div {
    height: 30vh;
  }
  header::after {
    top: -15%;
    right: -40%;
    width: 100%;
  }
  .home-wrapper-text {
    padding-top: 13vh;
  }
  .features-columns {
    height: 60vh;
  }
  .features-titles {
    margin-top: 20vh;
  }
  .wrapper-header-presentation {
    padding-bottom: 5%;
  }
  .flowchart-container {
    width: 120%;
    margin-bottom: -2px;
  }
  .desktop-helper {
    display: none;
  }
  .map-wrapper-row {
    height: 100vh;
  }
  .row .col.feature-item-col {
    padding-top: 16px;
  }
  .row .col.ecommerce-feature-5, .row .col.ecommerce-feature-6 {
    padding-top: 50px;
  }
  body {
    overflow: hidden;
  }
}

@media (max-width: 780px) and (min-width: 601px) {
  html {
    font-size: 10px;
  }
  nav, .nav-wrapper{
    width: 100%;
  }
  header::after {
    top: 30%;
    right: 3%;
    width: 125vw;
  }
  .nav-wrapper {
    text-align: center;
    padding-left: 0%;
    padding-top: 4vh;
  }
  .brand-logo img {
    width: 400px;
  }
  .home-wrapper-text {
    padding: 20vh 0 0 0;
  }
  .home-wrapper-text h1 {
    margin-bottom: 7vh;
    width: 60%;
    margin: 0 20% 10vh 20%;
    font-size: 5.5rem;
  }
  .home-wrapper-text h3 {
    font-size: 2rem;
    padding: 20px 25px;
  }
  nav i.material-icons {
    margin-top: -3vh;
  }
  .wrapper-header-presentation {
    padding: 0% 2% 5% 2%;
  }
  .row .col.presentation-item-wrapper {
    padding: 0 20px;
  }
  .features-columns {
    height: 50vh;
  }
  .features-titles {
    margin: 20vh 10%;
    font-size: 2.5rem;
    line-height: 2.7rem;
    padding: 0;
  }
  .desktop-helper {
    display: none;
  }
  .step-flowchart-container {
    height: 20vh;
  }
  .flow-chart-text {
    margin-top: 3vh;
  }
  .tablet-helper {
    display: block;
  }
  .flowchart-container {
    margin-bottom: -2px;
    width: 100%;
  }
  .filosofia-wrapper h2 {
    margin-top: 50px;
}
  #description-text-col {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  #description-text-col p, .service-description-text p  {
    font-size: 2.2rem;
  }
  .service-description-text h3 {
    font-size: 2.4rem;
  }
  .photos-filosofia {
    display: none;
  }
  .clients-row-wrapper h2 {
    margin-top: 0;
  }
  .row .col.feature-item-col {
    padding-top: 30px;
  }
  .page-footer p {
    font-size: 1.5rem;
  }
  .presentation-item-wrapper h4 {
    font-size: 2rem;
  }
  .row .col.feature-item-col p {
    font-size: 1.5rem;
  }
  .map-wrapper-row {
    margin-top: 0;
    height: 63vh;
  }
  .clients-text {
    font-size: 1.8rem;
  }

}

  @media (max-width: 600px) {
    html {
      width: 100%;
      overflow-x: hidden;
      font-size: 14px;
    }

    header::after {
      bottom: 0;
      top: 25%;
      right: 0;
      left: -40%;
      width: 82vh;
    }

    .brand-logo img {
      position: absolute;
      top: 0;
      width: 180%;
      margin: 0 15%;
    }

    nav {
      width: 100%;
    }

    .home-wrapper-text {
      padding: 20vh 0 0 0;
    }
    .home-wrapper-text h1 {
      font-size: 3rem;
      margin-bottom: 3vh;
    }
    .home-wrapper-text h3 {
      width: 100%;
      margin: auto;
    }
  .features-columns {
    height: 40vh;
  }
  .features-titles {
    margin: 10vh 10%;
  }
  .ecommerce-features {
    padding: 40px 0px;
  }
  .step-flowchart-container {
    height: 30vh;
  }
  .flow-chart-text {
    margin-top: 6vh;
  }
  .flowchart-container {
    margin-bottom: 0px;
  }
  .map-wrapper-row h3 {
    font-size: 1.8rem;
  }
  .map-wrapper-row p {
    font-size: 1.2rem;
  }
  .map-wrapper-row {
    margin: -2px 0px 0px 0px;
    padding: 50px 10px;
  }
  .map-bg-div {
    height: 30vh;
  }
  .filosofia-wrapper h2 {
    font-size: 1.8rem;
    margin-bottom: 0;
  }
  .filosofia-wrapper {
    padding: 0px 10px;
  }
  #description-text-col {
    padding: 0 25px;
  }
  .description-row {
    margin-top: 0 !important;
  }
  .photos-filosofia {
    display: none;
  }
  .clients-row-wrapper h2 {
    font-size: 1.8rem;
  }
  #carousel-wrapper {
    padding: 0;
  }
  .carousel-logos {
    width: 85%;
  }
  .features-row-mobile {
    display: none;
  }
  }
